:root {
  --main-font: "Sora", serif;
  --bg-color: rgba(0, 0, 0, 0.01);
  --text-color: #fff;
  --bg-main-color: #fff;
  --accent-color: rgba(28, 29, 29, 0.1);
  --bg-color-content: #1c1d1d;
  --border-radius: 16px;
  --card-text-color: rgba(0, 0, 0, 0.7);
  --small-font-size: 19px;
  --box-shadow: 0px 0px 63px rgba(0, 0, 0, 0.07);
  --small-border-radius: 8px;
  --medium-border-radius: 16px;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  box-sizing: border-box;
  font-size: 25px;
  font-family: var(--main-font);
  display: grid;
  grid-template-columns: 380px 63px 1fr;
  padding: 0 53px 66px 0;
  background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  grid-column: 3;
  margin-top: 66px;
  margin-bottom: 120px;
}

.header-navigation {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 50px;
  font-size: 25px;
  padding: 25px 0;
  cursor: pointer;
  caret-color: transparent;
}

.header_search-container {
  display: flex;
  flex-direction: row;
  gap: 71px;
}

.search-field {
  background-color: var(--accent-color);
  min-width: 400px;
  border: none;
  border-radius: var(--medium-border-radius);
  text-align: start;
  padding-left: 92px;
  font-size: 25px;

  background-image: url("./assets/Search-Magnifier.svg");
  background-repeat: no-repeat;
  background-position: 20px;
}

.button {
  background-color: var(--bg-color-content);
  color: var(--text-color);
  border-radius: var(--medium-border-radius);
  font-size: 25px;
  min-width: 150px;
}

.aside {
  float: left;
  /* Sidebar */
  height: 100vh;
  min-width: 320px;
  position: fixed;
  /* Color/White */
  background: #fff;

  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 63px 30px;
  border-radius: 30px 0 0;

  /* Shadow */
  box-shadow: var(--box-shadow);
}

.aside_title-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  max-width: max-content;
  align-items: center;
}

.aside_logo {
  width: 95px;
  height: 95px;
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: var(--medium-border-radius);
}

.aside_logo img {
  display: block;
  width: 50px;
  height: 50px;
}

.aside_title {
  font-size: 48px;
  display: block;
}

.aside_menu {
  display: flex;
  flex-direction: column;
  gap: 48px;
  list-style: none;
}

.aside_menu_item {
  border-radius: 8px;
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 9px 0;
  cursor: pointer;
  caret-color: transparent;
}

.active {
  background-color: var(--accent-color);
  box-shadow: var(--box-shadow);
  border-radius: var(--small-border-radius);
}

.main {
  grid-column: 3;
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.info_portret-container {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.protret-container {
  width: 80px;
  height: 80px;
  background-image: url("./assets/portret.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  border: 1px solid #000000;
  border-radius: 50%;
}

.description-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.description-title {
  font-size: 30px;
}

.info_container {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.info_card {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  min-inline-size: 380px;
  border-radius: var(--medium-border-radius);
  text-align: center;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-height: fit-content;
}

.card_title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card_logo-container {
  width: 48px;
  height: 48px;
  background-color: var(--bg-color-content);
  border-radius: var(--small-border-radius);

  display: flex;

  align-items: center;
  justify-content: center;
}

.card_title {
  color: var(--card-text-color);
  align-self: center;
}

.card_logo {
  width: 36px;
  height: 36px;
}

.card_text {
  align-self: flex-start;
  justify-self: flex-start;
  color: var(--card-text-color);
  font-size: var(--small-font-size);
}

.overview {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 40px 1fr;
  row-gap: 32px;
  column-gap: 48px;
}

.overview_title {
  grid-column: 1 / 2;
  grid-row: 1;
  font-size: 32px;
}

.overview_card {
  grid-row: 2;
  background-color: var(--bg-main-color);
  box-shadow: var(--box-shadow);
  min-inline-size: 423px;
  border-radius: var(--medium-border-radius);
  padding: 40px 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.overview_progress {
  grid-row: 1 / 3;
  grid-column: 3;
  border-radius: var(--medium-border-radius);
  box-shadow: var(--box-shadow);
}

.overview_card_icon-container {
  width: 68px;
  height: 68px;
  background-color: var(--accent-color);
  background-image: url("/src/assets/Mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: var(--medium-border-radius);
}

.overview_card-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 19px;
  justify-content: space-between;
  align-items: center;
}

.overview_card-text {
  opacity: 1;
}

.accent-text{
  opacity: 0.4;
}

.overview_card-title {
  font-size: 25px;
}

.overview_progress {
  padding: 48px 30px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-inline-size: 323px;
}

.progress-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 19px;
  align-items: flex-start;
}

.progressbar {
  accent-color: var(--bg-color-content);
  min-inline-size: 280px;
  min-block-size: 30px;
}

.progress-list_item {
  background-image: url("assets/Game\ Controller.svg");
  background-repeat: no-repeat;
  background-position: center left;
  padding: 8px 16px 8px 54px;
}